<a href="https://colab.research.google.com/github/hmelberg/health-analytics-using-python/blob/master/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Software

[Useful info](https://www.youtube.com/watch?v=dQw4w9WgXcQ)

In [1]:
import pandas as pd

In [4]:
filename= 'https://raw.githubusercontent.com/hmelberg/health-analytics-using-python/master/hospital.csv'

df = pd.read_csv(filename)

In [5]:
df.head()

   lnr  lopenr     innDato      utDato tilstand_1_1  fodselsar  kjonn
0    0       0  2007-10-30  2007-10-30          K30       1951      2
1    1       1  2008-07-07  2008-07-07          O00       1960      2
2    2       2  2011-06-27  2011-06-27          K86       1947      2
3    3       3  2009-09-14  2009-09-14          G50       1972      2
4    4       4  2007-08-01  2007-08-01          Z46       1963      1